header {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 950px;
}

.header-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('images/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
}

.header-logo {
    margin-left: 30px;
    position: relative;
    width: 100%;
    max-width: 900px;
    z-index: 3;

    p {
        position: fixed;
        padding-left: 50px;
        top: 35px;
        font-family: 'Merriweather', serif;
        font-style: italic;
        font-weight: 700;
        color: white;
        font-size: 2.5rem;
    }
}

.logo-circle-large {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 30px;
    width: 40px;
    height: 40px;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
}

.logo-circle-small {
    width: 20px;
    height: 20px;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
}

.header-menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.header-menu-icon {
    position: fixed;
    right: 60px;
    z-index: 4;
    width: 50px;
    height: 40px;
    margin-top: 30px;

    div {
        transition: 0.2s;
        width: 100%;
        height: 20%;
        background: #192431;
        margin-bottom: 7px;
        border-radius: 50px;
    }
}

.header-arrow-link {
    padding-top: 20px;
    display: flex;
    justify-content: center;

    a {
        font-family: 'Open Sans', sans-serif;
        font-size: 2rem;
        font-weight: 400;
        color: #FFFFFF;
        text-decoration: none;
    }
}

.header-menu-icon-active {

    div {
        background: #FFFFFF;
    }

    div:first-of-type {
        transition: 0.1s;
        opacity: 0;
        transform: translateY(15px);
    }

    div:nth-child(2) {
        transform: rotate(45deg);
    }

    div:nth-child(3) {
        transform: translateY(-15px) rotate(-45deg);
    }
}

.header-menu-content {
    transition: 0.3s;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.7;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li {
            padding: 15px;
            list-style: none;
            a {
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                color: white;
                font-size: 2rem;
            }
        }
    }
}

.header-menu-content-invisible {
    transition: 0.3s;
    transform: translateX(100%);
}

.header-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
}

.header-content {
    position: fixed;
    top: 30%;
    width: 100%;
    z-index: 1;

    h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 7rem;
        font-weight: 300;
        color: white;
        text-align: center;
    }

    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        color: white;
        text-align: center;
        padding: 10px 20px 0 20px;
    }

    i {
        font-size: 1.5rem;
        color: #FFFFFF;
        padding-left: 10px;
        padding-top: 7px;
    }
}

.header-arrow-link {
    display: flex;
    justify-content: center;
    padding-left: 15px;
}

@media (min-width: 945px) {
    .header-content {
        height: 100px;

        h1 {
            text-align: left;
            padding: 0 0 0 10px;
        }

        p {
            text-align: left;
            padding: 10px 0 0 15px;
        }
    }

    .header-content {
        width: 50%;
    }

    .header-menu-content {
        height: 100px;

        ul {
            flex-direction: row;

            li {
                a {
                    transition: 0.2s;
                    &:hover {
                        cursor: pointer;
                        color: #192431;
                    }
                }
            }
        }
    }

    .header-arrow-link {
        justify-content: flex-start;

        &:hover {
            cursor: pointer;
            i {
                transition: 0.3s;
                padding-left: 20px;
            }
        }
    }
}

@media (min-width: 1100px) {

    .header-menu-icon {
        &:hover {
            cursor: pointer;
        }
    }

    .header-content {
        width: 45%;

        i {
            transition: 0.3s;
        }
    }
}

@media (min-width: 1400px) {
    .header-content {
        width: 40%;
    }
}

@media (min-width: 1500px) {
    .header-content {
        width: 35%;
    }
}
