.why-we-section-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #82ca9c;
}

.why-we-section {
    width: 100%;
    max-width: 1200px;
    padding: 80px 0 80px 0;

    h2 {
        font-family: 'Open Sans', sans-serif;
        font-size:3rem;
        font-weight: 300;
        color: #FFFFFF;
        padding: 0 0 40px 20px;
    }

    h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 2rem;
        font-weight: 300;
        color: #FFFFFF;
        padding: 0 0 10px 20px;
    }

    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5rem;
        font-weight: 300;
        color: #FFFFFF;
        padding: 0 20px 30px 20px;
    }
}

.why-we-section-box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

@media (min-width: 945px) {
    .why-we-section-box-container {
        flex-direction: row;
    }
}
